body {
  background-color: #2c2141;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.guy {
  width: 624px;
  border-radius: 16px;
  background-color: #f8f8f8;
  min-height: 320px;
}
